<!DOCTYPE html>
<html>
  <head>
    <title>Musicapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
    <%= yield %>
    <% if user_signed_in? %>

    Bienvenido, <%= current_user.email %>

    <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>

    <% end %>
  </center>
  </body>
</html>
